alpha-vantage==2.1.0
appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Django==2.1.7
django-crispy-forms==1.7.2
django-extensions==2.1.6
djangorestframework==3.9.2
extensions==0.4
get==2018.11.19
graphviz==0.10.1
gunicorn==19.9.0
idna==2.8
numpy==1.16.2
packaging==19.0
pandas==0.24.1
post==2018.11.20
public==2018.11.20
pydotplus==2.0.2
pygal==2.4.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
whitenoise==4.1.2
wikipedia==1.4.0
