<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
       <link rel="icon" href="{% static 'predictx/images/favicon.ico' %}">
      <title>Predictstocks.net</title>

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "predictx/scripts/cover.css" %}" rel="stylesheet">
      <!-- core CSS of SnackbarJS, find it in /dist -->
        <link href="{% static "predictx/scripts/snackbar.min.css" %}" rel=stylesheet>
        <!-- the default theme of SnackbarJS, find it in /themes-css -->
            <link href="{% static "predictx/scripts/material.css" %}" rel=stylesheet>
  </head>

      {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>$.snackbar({content: "{{message}} }}"});</script>
            {% elif message.tags == 'info'%}
                <script>$.snackbar({content: "{{message}} }}"});</script>
            {% elif message.tags == 'warning'%}
                <script>$.snackbar({content: "{{message}} }}"});</script>
            {% elif message.tags == 'error'%}
                <script>$.snackbar({content: "{{message}} }}"});</script>
            {% endif %}
        {% endfor %}
    {% endif %}


    <body class="text-center">
      {% block content %}
	  {% endblock %}
  </div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
      <script src={% static "predictx/scripts/snackbar.min.js" %}></script>

  </body>
</html>