<!doctype html>
<html lang="en">

   <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Predictstocks.net</title>
    <link rel="icon" href="{% static 'predictx/images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.6/dist/css/bootstrap-select.min.css">
    <link href="{% static 'predictx/scripts/dashboard.css' %}" rel="stylesheet">
    <!-- Bokeh CSS -->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css" rel="stylesheet" type="text/css">
    <!--Fonts Awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    {{ script | safe }}
       {{ script2 | safe }}
       {{ script3 | safe }}
       {{ script4 | safe }}
       {{ script5 | safe }}
       {{ script6 | safe }}

   </head>

      <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand" href="#">PredictX</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <select class="selectpicker" data-live-search="true" id="mySelect" onchange="dChanged()">
                    {% block content %}
                    {% for stc in stocks %}
                        <option data-tokens="{{stc.stock_name}}">{{stc.stock_title}}</option>
                    {% endfor %}
                    {% endblock %}
                </select>
                    <li class="nav-item text-nowrap">
                       <a type="button" class="btn btn-sm btn-outline-secondary" href="logout">Sign out</a>
                    </li>
            </form>
        </div>
   </nav>

   	  <div class="container-fluid">
      <div class="row">
         <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link active" href="#">
                     <span data-feather="home"></span>
                     Favourites  <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="file"></span>
                     Apple
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="shopping-cart"></span>
                     Tesla
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="users"></span>
                     Samsung
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="bar-chart-2"></span>
                     Walmart
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="layers"></span>
                     Exxon Mobil
                     </a>
                  </li>
               </ul>
            </div>
           </nav>
         </div>
      </div>



   <body>
   {%block symbol%}
   {% endblock %}
   </body>



    <script>
    function dChanged() {
    var x = document.getElementById("mySelect").value;
    window.location.href = '/'+x;}
    </script>

   <script>
    var currentDate = new Date();
    document.getElementById('currDatePlus0D').innerHTML = currentDate.setDate(currentDate.getDate() + 1);


    </script>


   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src= "http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.0.4.min.js"></script>


