{% extends 'predictx/dashboard.html' %}

{%block symbol%}

         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 id="demo" class="h2">Latest Time Series for {{ sname | safe }}</h1>
               <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Add to Favorites</button>
                  </div>
               </div>
            </div>
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div | safe }}
            </div>
        </p>
      </div>
             <div class="col-xs-12" style="height:44px;"></div>

             <div class="row">
               <h2 id="demo2" class="h2">{{ sname | safe }} Description</h2>
               <p>{{ wiki | safe }}</p>
              </div>
                          <div class="col-xs-12" style="height:44px;"></div>
             <div class="row">
                 <h2 id="demo3" class="h2">Analysis for {{ sname | safe }}</h2>
             </div>
 <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Moving Averages
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div1 | safe }}
            </div>
        </p>
      </div>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingOnetwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOnetwo" aria-expanded="false" aria-controls="collapseOnetwo">
          Bollinger Bands
        </button>
      </h5>
    </div>

    <div id="collapseOnetwo" class="collapse" aria-labelledby="headingOnetwo" data-parent="#accordion">
      <div class="card-body">
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div2 | safe }}
            </div>
        </p>
      </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          RSI
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      RSI Graph
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div3 | safe }}
            </div>
        </p>
      </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          MACD
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        MACD Graph
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div4 | safe }}
            </div>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
             <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Combo
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
      Combo graph
      <div class="row">
        <p>
            <div class="d-flex justify-content-center">
                 {{ div5 | safe }}
            </div>
        </p>
      </div>
       </div>
    </div>
  </div>

             <div class="col-xs-12" style="height:44px;"></div>

     <div class=row>
         <h2 id="demo1" class="h2"></h2>
       <p>
        <div class="d-flex justify-content-center">
                 {{ div6 | safe }}
         </div>
       </p>
       <div class="table-responsive">
          <table class="table table-striped table-sm">
             <thead>
                <tr>
                   <th>Date</th>
                   <th>Predicted Close price</th>
                </tr>
             </thead>
             <tbody>
                 <tr>
                   <td><div id="currDatePlus0D"></div></td>
                   <td>{{ pp1 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus1D"></div></td>
                   <td>{{ pp2 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus2D"></div></td>
                   <td>{{ pp3 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus3D"></div></td>
                   <td>{{ pp4 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus4D"></div></td>
                   <td>{{ pp5 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus5D"></div></td>
                   <td>{{ pp6 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus6D"></div></td>
                   <td>{{ pp7 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus7D"></div></td>
                   <td>{{ pp8 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus8D"></div></td>
                   <td>{{ pp9 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus9D"></div></td>
                   <td>{{ pp10 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus10D"></div></td>
                   <td>{{ pp11 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus11D"></div></td>
                   <td>{{ pp12 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus12D"></div></td>
                   <td>{{ pp13 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus13D"></div></td>
                   <td>{{ pp14 | safe }}</td>
                </tr>
                <tr>
                   <td><div id="currDatePlus14D"></div></td>
                   <td>{{ pp15 | safe }}</td>
                </tr>
                 <tr>
                   <td><div id="currDatePlus15D"></div></td>
                   <td>{{ pp16 | safe }}</td>
                </tr>
             </tbody>
          </table>
       </div>
      </div>
 </main>
 </div>
</div>

	  {% endblock %}


