{% extends 'predictx/base.html' %}

{% block content %}
  <div class="cover-container d-no-flex h-100 p-3 mx-auto no-flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Predictx</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/userguide">Documentation</a>
            <a class="nav-link" href="/register">Sign Up</a>
            <a class="nav-link" href="/login">Login</a>
          </nav>
        </div>
      </header>

        <div class="backdrop">
        <main role="main" class="inner cover">
            <br>
            <br>
            <br>
            <br>
           <iframe width="800" height="500" src="https://www.youtube-nocookie.com/embed/CV5j1NEnDb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </main>
          </div>
    </div>
{% endblock %}