{% extends 'predictx/dashboard.html' %}

{%block symbol%}
	  <div class="container-fluid">
      <div class="row">
         <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link active" href="#">
                     <span data-feather="home"></span>
                     Favourites  <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="file"></span>
                     Apple
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="shopping-cart"></span>
                     Tesla
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="users"></span>
                     Samsung
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="bar-chart-2"></span>
                     Walmart
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                     <span data-feather="layers"></span>
                     Exxon Mobil
                     </a>
                  </li>
               </ul>
            </div>
         </nav>



         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                <h1 id="demo" class="h2">Latest Time Series for Apple Inc.</h1>
               <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Add to Favorites</button>
                  </div>
               </div>
            </div>
            <canvas class="chartjs-render-monitor" id="myChart" width="900" height="380"></canvas>
            <div class=row>

               <h2 id="demo1" class="h2">Price Prediction for 14/03/2019 to 21/03/2019 for Apple Inc.</h2>
               <p>
                  <canvas class="chartjs-render-monitor" id="myChart2" width="900" height="380"></canvas>
               </p>
               <div class="table-responsive">
                  <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                           <th>Date</th>
                           <th>Predicted price</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>01/03/2019</td>
                           <td>150</td>
                        </tr>
                        <tr>
                           <td>02/03/2019</td>
                           <td>140</td>
                        </tr>
                        <tr>
                           <td>03/03/2019</td>
                           <td>180</td>
                        </tr>
                        <tr>
                           <td>04/03/2019</td>
                           <td>160</td>
                        </tr>
                        <tr>
                           <td>05/03/2019</td>
                           <td>155</td>
                        </tr>
                        <tr>
                           <td>06/03/2019</td>
                           <td>145</td>
                        </tr>
                        <tr>
                           <td>07/03/2019</td>
                           <td>155</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <h2 id="demo2" class="h2">Apple Inc.'s Description</h2>
               <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. It is considered one of the Big Four of technology along with Amazon, Google, and Facebook.The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal computer, the iPod portable media player, the Apple Watch smartwatch, the Apple TV digital media player, and the HomePod smart speaker. Apple's software includes the macOS and iOS operating systems, the iTunes media player, the Safari web browser, and the iLife and iWork creativity and productivity suites, as well as professional applications like Final Cut Pro, Logic Pro, and Xcode. Its online services include the iTunes Store, the iOS App Store and Mac App Store, Apple Music, and iCloud.</p>
              <h2 id="demo3" class="h2">Latest News for Apple Inc.</h2>
               <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
         </main>
         </div>
      </div>

	  {% endblock %}


